@charset "UTF-8";

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior:smooth
    }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left:auto
}

@media (min-width: 576px) {
    .container, .container-sm, .form-me {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm, .form-me {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm, .form-me {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .form-me {
        max-width:1140px
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl, .form-me {
        max-width:1320px
    }
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom:.5rem
}

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content:space-between
}

@media (min-width: 1200px) {
    .fs-4 {
        font-size:1.5rem !important
    }
}

@media (prefers-reduced-motion: reduce) {
    .nav-link {
        transition:none
    }
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
        overflow-x: auto;
        -webkit-overflow-scrolling:touch
    }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        overflow-x: auto;
        -webkit-overflow-scrolling:touch
    }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        overflow-x: auto;
        -webkit-overflow-scrolling:touch
    }
}

@media (max-width: 1199.98px) {
    .table-responsive-xl {
        overflow-x: auto;
        -webkit-overflow-scrolling:touch
    }
}

@media (max-width: 1399.98px) {
    .table-responsive-xxl {
        overflow-x: auto;
        -webkit-overflow-scrolling:touch
    }
}

@media (min-width: 1200px) {
    .h2, h2 {
        font-size:2rem
    }
}

@media (min-width: 1200px) {
    .h4, h4 {
        font-size:1.5rem
    }
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition:none
    }
}

@media (prefers-reduced-motion: reduce) {
    .form-select {
        transition:none
    }
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition:none
    }
}

@media (min-width: 1200px) {
    .display-4 {
        font-size:3.5rem
    }
}

@media only screen and (max-width: 600px) {
    .form-me {
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .col-lg-8 {
        flex: 0 0 auto;
        width:66.66666667%
    }
}

@media (min-width: 768px) {
    .mb-md-0 {
        margin-bottom:0 !important
    }
}

@media (min-width: 768px) {
    .me-md-auto {
        margin-right:auto !important
    }
}